<template>
  <nb-container>
    <app-navigator class="alignment"></app-navigator>
  </nb-container>
  
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
} from "vue-native-router";

import LoginScreen from "./pages/Login.vue";
import Quiz from "./pages/QuizPerfil";
import Dashboard from './pages/Dashboard';
import Timeline from './pages/Timeline';
import Tarefa from './pages/tarefas/Tarefa';
import TarefaPatrocinada from './pages/tarefas/TarefaPatrocinado';

const StackNavigator = createStackNavigator(
  {
    Login: LoginScreen,
    Quiz: Quiz,
    Home: Dashboard,
    Tarefa: Tarefa,
    TarefaPatrocinada: TarefaPatrocinada,
    Timeline: Timeline,
  },
  {
    headerMode: 'none',
    navigationOptions: {
      headerVisible: false,
    },
    initialRouteName: 'Login',
  }
);

const AppNavigator = createAppContainer(StackNavigator);

export default {
  components: { AppNavigator },
}
</script>

<style>
.alignment {
  position: relative;
  top: 0;
  margin-top: 0 !important;
}
</style>
