<template>
  <nb-container class="container-2">
    <nb-content v-for="(grupo, i) of grupos" :key="'gp-' + i" class="content-principal">
      <nb-text class="title-list">{{ grupo.categoria }}</nb-text>
      <view v-for="(item, i) of grupo.items" :key="'item-' + i" class="group-content" :class="{ 'bg-orange': i % 2 == 0, 'bg-azul': i % 2 == 1 }">
        <nb-grid>
          <nb-col class="col-icon">
            <nb-icon class="icon-gp" :name="item.icon" />
          </nb-col>
          <nb-col>
            <nb-text class="title-gp">{{ item.name }}</nb-text>
            <nb-text v-if="item.patrocinado" note class="subtitle-gp">Patrocinado por XP Inc.</nb-text>
          </nb-col>
          <nb-col class="col-button">
            <nb-button @press="handlerGroupSelect(item.patrocinado)" block light>
              <nb-text>Começar</nb-text>
            </nb-button>
          </nb-col>
        </nb-grid>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
export default {
  name: 'Grupos',
  data() {
    return {
      grupos: [
        {
          categoria: 'Finanças Pessoais',
          items: [
            {
              name: 'Organização',
              icon: 'apps',
              patrocinado: false,
            },
            {
              name: 'Planejamento',
              icon: 'cash',
              patrocinado: false,
            }
          ]
        },
        {
          categoria: 'Investimentos',
          items: [
            {
              name: 'Corretoras',
              icon: 'apps',
              patrocinado: true,
            }
          ]
        }
      ]
    }
  },
  methods: {
    handlerGroupSelect(patrocinado) {
      console.log(patrocinado)
      this.$emit('goWork', patrocinado)
    }
  }
}
</script>

<style>
.container-2 {
  margin-top: 20px;
  background-color: transparent;
}
.group-content {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 10px;
  border-radius: 7px;
  color: white;
}
.title-list {
  font-size: 22px;
  margin-bottom: 15px;
  background-color: white;
  padding: 5px 0px;
}
.icon-gp {
  color: rgba(0, 0, 0, 0.397);
}
.title-gp {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.397);
  font-size: 19px;
}
.subtitle-gp {
  color: rgba(0, 0, 0, 0.397);
}
.col-icon {
  flex: .25;
}
.col-button {
  flex: .75;
}
.bg-purple {
  background-color: #A08AE9;
}
.bg-pink {
  background-color: #E875C2;
}
.bg-red {
  background-color: #E56D94;
}
.bg-azul {
  background-color: #BFEB55;
}
.bg-orange {
  background-color: rgb(255, 207, 75);
}
</style>