<template>
  <nb-container>
    <nb-content class="work-content">
      <nb-text class="title-tarefa">
        <nb-icon name='analytics' class="icon-ajust" /> Finanças Pessoais
      </nb-text>
      <nb-card class="align-card">
        <nb-card-item header class="bg-purple">
          <nb-text>Assunto</nb-text>
        </nb-card-item>
        <nb-card-item class="bg-lt-purple mt-3">
          <nb-body>
            <nb-text>
              In bibendum semper convallis. Sed volutpat nunc purus, id suscipit risus semper a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </nb-text>
          </nb-body>            
        </nb-card-item>
        <nb-card-item v-if="!choices.two && choices.one" class="bg-pink">
          <nb-body>
            <nb-text>
              Nulla rutrum, nisi sit amet laoreet maximus, massa urna feugiat mi, sit amet volutpat neque metus in massa. Donec sollicitudin augue a blandit vestibulum. Cras et sapien finibus, convallis risus sit amet, pretium ex.
            </nb-text>
          </nb-body>            
        </nb-card-item>
      </nb-card>

      
      <nb-content v-if="!choices.one">
        <nb-text class="sub-choice">Faça uma escolha abaixo:</nb-text>
        <nb-list-item :selected="op.value" v-for="(op, i) of answers" :key="'ans-' + i">
          <nb-left>
            <nb-text>{{ op.label }}</nb-text>
          </nb-left>
          <nb-right>
            <nb-button @press="handlerChoice(i, 'one')" :bordered="!op.value" info>
              <nb-icon name="done-all"></nb-icon>
            </nb-button>
          </nb-right>
        </nb-list-item>
        <nb-button primary @press="next('one')">
          <nb-text>Avançar</nb-text>
        </nb-button>
      </nb-content>

      <nb-content v-if="!choices.two && choices.one">
        <nb-text class="sub-choice">Faça uma escolha abaixo:</nb-text>
        <nb-list-item :selected="op.value" v-for="(op, i) of answers_two" :key="'ans-' + i">
          <nb-left>
            <nb-text>{{ op.label }}</nb-text>
          </nb-left>
          <nb-right>
            <nb-button @press="handlerChoice(i, 'two')" :bordered="!op.value" info>
              <nb-icon name="done-all"></nb-icon>
            </nb-button>
          </nb-right>
        </nb-list-item>
        <nb-button class="button" primary @press="next('two')">
          <nb-text>Avançar</nb-text>
        </nb-button>
      </nb-content>
      

      <nb-content v-if="selecteds.length > 0">
        <nb-text v-for="(choice, i) of selecteds" :key="'choi-' + i" class="choice-sel">
          <nb-icon name="done-all"></nb-icon> {{ choice.label}}
        </nb-text>
      </nb-content>

      <nb-content v-if="choices.two && choices.one">
        <nb-button class="button-done" @press="handlerConclude()" success>
          <nb-text>
            Finalizar!
          </nb-text>
        </nb-button>
      </nb-content>

    </nb-content>
  </nb-container>
</template>

<script>
import { Alert } from 'react-native';

export default {
  name: "Tarefa",
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      choices: {
        one: false,
        two: false
      },
      selecteds: [],
      answers: [
        { 
          label: 'Cras vel massa in turpis pulvinar fermentum.', 
          value: false 
        },
        { 
          label: 'Etiam enim sapien, sollicitudin eu pretium non, sodales ac libero.', 
          value: false 
        },
        { 
          label: 'Sed a vulputate eros. Mauris at tellus id arcu venenatis malesuada vitae non magna.', 
          value: false 
        },
        { 
          label: 'Nunc sit amet luctus massa, vitae consequat neque.', 
          value: false 
        }
      ],
      answers_two: [
        { 
          label: 'Cras vel massa in turpis pulvinar fermentum.', 
          value: false 
        },
        { 
          label: 'Etiam enim sapien, sollicitudin eu pretium non, sodales ac libero.', 
          value: false 
        },
        { 
          label: 'Sed a vulputate eros. Mauris at tellus id arcu venenatis malesuada vitae non magna.', 
          value: false 
        },
        { 
          label: 'Nunc sit amet luctus massa, vitae consequat neque.', 
          value: false 
        }
      ]

    }
  },
  methods: {
    handlerChoice(index, ctx) {
      this.answers.map(el => {
        el.value = false
      })
      if (ctx == 'one')
        this.answers[index].value = !this.answers[index].value
      else if (ctx == 'two')
        this.answers_two[index].value = !this.answers_two[index].value
    },
    next(page) {
      let a

      if (page == 'one') {
        [a] = this.answers.filter(el => el.value)
      }
      else if (page == 'two') {
        [a] = this.answers_two.filter(el => el.value)
      }
        

      if ('label' in a) {
        this.selecteds.push(a)
        this.choices[page] = true
      }
      
    },
    handlerConclude() {
      Alert.alert(
        'Parabéns!',
        'Tarefa concluída, ótimo trabalho!',
        [
          {text: 'OK', onPress: () => this.navigation.goBack()},
        ],
        { cancelable: false }
      );
      
    }
  }
}
</script>

<style>
.button-done {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.button {
  justify-content: center;
  align-items: center;
}
.sub-choice {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 700;
}
.title-tarefa {
  font-size: 35px;
  font-weight: 700;
}
.work-content {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 10px;
  border-radius: 7px;
  color: white;
}
.align-card {
  margin-top: 20px;
}
.choice-sel {
  margin-top: 10px;
  opacity: 0.3;
}
.mt-3 {
  margin-top: 3px;
}
.icon-ajust {
  padding-right: 10px;
}
.bg-purple {
  background-color: rgb(189, 169, 255);
}
.bg-lt-purple {
  background-color: rgb(232, 232, 250);
}
.bg-lt-purple {
  background-color: rgb(232, 232, 250);
}
.bg-pink {
  background-color: rgb(250, 242, 232);
}
.bg-red {
  background-color: #E56D94;
}
.bg-orange {
  background-color: #F5C199;
}
.bg-azul {
  background-color: rgb(108, 178, 236);
}
</style>