<template>
  <nb-footer>
    <nb-footer-tab>
      <nb-button @press="handler('Timeline')" vertical badge :active="active == 'Timeline'">
        <nb-badge>
          <nb-text>2</nb-text>
        </nb-badge>
        <nb-icon name="book" :active="active == 'Timeline'"/>
        <nb-text>Blog</nb-text>
      </nb-button>
      <nb-button  @press="handler('Home')" vertical badge :active="active == 'Home'">
        <nb-badge>
          <nb-text>51</nb-text>
        </nb-badge>
        <nb-icon name="apps" :active="active == 'Home'" />
        <nb-text>Tarefas</nb-text>
      </nb-button>
      <nb-button @press="handler('Perfil')" :active="active == 'Perfil'">
        <nb-icon name="contact" :active="active == 'Perfil'"/>
        <nb-text>Perfil</nb-text>
      </nb-button>
    </nb-footer-tab>
  </nb-footer>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      active: 'Home'
    }
  },
  methods: {
    handler(ctx) {
      this.active = ctx
      this.$emit('goto', ctx)
    }
  }
};
</script>

<style></style>
