<template>
  <nb-header class="header">
    <nb-left>
      <nb-thumbnail class="thumbnail" :source="require('../assets/menino.png')" />
    </nb-left>
    <nb-body>
      <nb-grid class="hd-avt-content">
        <nb-col class="col-content-info">
          <nb-text class="avt-nome">Matheus</nb-text>
          <nb-text class="avt-desc">Nv. 1</nb-text>
        </nb-col>
      </nb-grid>
    </nb-body>
    <nb-right>
      <nb-button @press="handlerExit()" transparent>
        <nb-text class="hd-button">Sair</nb-text>
      </nb-button>
    </nb-right>
  </nb-header>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    handlerExit() {
      this.$emit('exit', null)
    }
  }
}
</script>

<style>
.title {
  text-align: center;
  color: white;
}
.header {
  height: 90px;
  background-color: #2B2565;
}
.thumbnail {
  background-color: white;
  margin-left: 20px;
}
.hd-avt-content {
  margin-top: 10px;
}
.avt-nome {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.avt-desc {
  margin-top: 5px;
  margin-right: 0;
  font-size: 15px;
  color: white;
}
.col-content-info {
  margin-top: 7px;
}

.hd-button {
  color: white;
}
</style>