<template>
  <nb-container>
    <image
        :source="require('../assets/bg_3.png')" 
        class="img-align-2"
      />
    <!-- <Header @exit="Logout()"></Header> -->
    <nb-content class="content-align">
      <view class="box-content-title">
        <nb-text class="box-title">Tarefas</nb-text>
        <nb-text class="box-subtitle">Melhore seus conhecimentos e potencialize seu desenvolvimento pessoal e financeiro</nb-text>
      </view>
      <Grupos @goWork="handlerGotoWork($event)"></Grupos>
    </nb-content>
    <Footer @goto="handlerScreen($event)"></Footer>
  </nb-container>
</template>

<script>
import Header from '../components/Header'
import Footer from '../components/Footer'
import Grupos from './tarefas/Grupo'

import HandlerMixin from '../mixins/handlers'

export default {
  name: 'Dashboard',
  mixins: [HandlerMixin],
  props: {
    navigation: {
      type: Object
    }
  },
  components: { Header, Grupos, Footer },
  data() {
    return {

    }
  },
  methods: {
    handlerGotoWork(isPowerade){
      if (!isPowerade)
        this.navigation.navigate("Tarefa");
      else 
        this.navigation.navigate("TarefaPatrocinada");
    },
  }
}
</script>

<style>
.content-align {
  padding: 30px;
  z-index: 2;
  position: relative;
}
.img-align-2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-content-title {
  padding: 20px 0px;
  color: black;
  text-align: left;
}
.box-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box-subtitle {
  font-size: 16px;
  font-weight: 300;
}
</style>