<template>
  <nb-container>
    <image
        :source="require('../assets/bg_2.png')" 
        class="img-align-2"
      />
    <nb-content class="content-align">
      
      <image
          :source="require('../assets/logo_300.png')" 
          class="img-align"
        />
      <nb-form>
        <nb-item last>
          <nb-input v-model="login.email" placeholder="Email" />
        </nb-item>
        <nb-item last>
          <nb-input v-model="login.pass" :secureTextEntry="true" placeholder="Senha" />
        </nb-item>
      </nb-form>
      <nb-button @press="handlerLogin()" block success class="mt-2">
        <nb-text>Entrar</nb-text>
      </nb-button>
      <nb-text class="version-tag">v1.0 alfa</nb-text>
    </nb-content>
  </nb-container>
</template>

<script>
import { Alert } from 'react-native';

export default {
  name: 'Login',
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      login: {
        email: '',
        pass: ''
      }
    }
  },
  methods: {
    handlerLogin() {
      this.navigation.navigate("Quiz");
      return;
      
      if (this.login.email === 'admin' && this.login.pass === 'admin')
        this.navigation.navigate("Quiz");
      else {
        Alert.alert(
          'Autenticação Inválida',
          'Dados incorretos, tente novamente!',
          [
              {text: 'OK', onPress: () => console.log('OK Pressed')},
          ],
          { cancelable: false }
      );
      }
    }
  }
}
</script>

<style>
.container {
  background-color: purple;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.text-color-primary {
  color: blue;
}
.content-align {
  padding: 30px;
  z-index: 2;
  position: absolute;
}
.mt-2 {
  margin-top: 20px;
}
.img-align {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.img-align-2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.version-tag {
  color: black;
  font-size: 10px;
  margin-top: 30px;
  opacity: 0.5;
  text-align: center;
}
</style>
