<template>
  <nb-container>
    <image
        :source="require('../assets/bg_3.png')" 
        class="img-align-2"
      />
    <nb-content class="content-align">
      <view v-for="(el, i) of questions" :key="'op-' + i">
        <view v-if="i == index" class="box-content-title">
          <nb-text class="box-title">{{ el.title }}</nb-text>
          <nb-text class="box-subtitle">{{ el.label }}</nb-text>
          <nb-list-item :selected="op.value" v-for="(op, e) of el.alt" :key="'ans-' + e">
            <nb-left>
              <nb-text>{{ op.label }}</nb-text>
            </nb-left>
            <nb-right>
              <nb-button @press="handlerChoice(e)" :bordered="!op.value" info>
                <nb-icon name="done-all"></nb-icon>
              </nb-button>
            </nb-right>
          </nb-list-item>
          <nb-button :disabled="index == questions.length"  class="button" primary @press="next()">
            <nb-text>Avançar</nb-text>
          </nb-button>
        </view>
      </view>
      <nb-button v-if="index == questions.length" class="button-2" iconLeft success @press="conclude()">
        <nb-icon active name="beer" />
        <nb-text>Iniciar Jornada!</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>  
</template>

<script>
import { Alert } from 'react-native';

export default {
  name: 'QuizPerfil',
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      index: 0,
      questions: require('../helpers/quizPerfil.json')
    }
  },
  methods: {
    handlerChoice(b) {
      this.questions[this.index].alt.map(el => {
        el.value = false
      })
      this.questions[this.index].alt[b].value = !this.questions[this.index].alt[b].value
    },
    next() {
      let a = this.questions[this.index].alt.map(el => {
        el.value = false
      })

      if (a.length == 0) return;

      this.index += 1
    },
    conclude() {
      Alert.alert(
        'Perfil Atualizado!',
        'Primeiro passo concluído, Boa Sorte em sua nova jornada de aprendizado! ;)',
        [
          {text: 'OK', onPress: () => this.navigation.navigate("Home")},
        ],
        { cancelable: false }
      );
    }
  }
}
</script>

<style>
.button-2 {
  top: 40%;
  margin-left: 20%;
  width: 55%;
  font-size: 30px;
  position: relative;
}
.content-align {
  padding: 30px;
  top: 7%;
  z-index: 2;
  position: relative;
}
.img-align-2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-content-title {
  padding: 20px 0px;
  color: black;
  text-align: left;
}
.box-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box-subtitle {
  font-size: 22px;
  font-weight: 300;
}
</style>