<template>
  <nb-container>
    <image
        :source="require('../assets/bg_3.png')" 
        class="img-align-2"
      />
    <!-- <Header @exit="Logout()"></Header> -->
    <nb-content class="content-align">
      <view class="box-content-title">
        <nb-text class="box-title">Blog</nb-text>
        <nb-text class="box-subtitle">Descubra mais sobre o mundo de finanças, economia e educação.</nb-text>
      </view>
      <nb-card v-for="(post, i) of posts" :key="'post-' + i">
        <nb-card-item bordered>
          <nb-left>
            <nb-thumbnail :source="post.logo"></nb-thumbnail>
            <nb-body>
              <nb-text>{{ post.company }}</nb-text>
              <nb-text note>{{ post.date }}</nb-text>
            </nb-body>
          </nb-left>
        </nb-card-item> 
        <nb-card-item>
          <nb-body>
            <image :source="post.image" class="card-item-image" :style="stylesObj.cardItemImage"/>
            <nb-text class="title-post">{{ post.title }}</nb-text>
          </nb-body>
        </nb-card-item>
        <nb-card-item :style="{ paddingVertical: 0 }">
          <nb-left>
            <nb-button transparent>
              <nb-icon name="heart"></nb-icon>
              <nb-text>{{ post.stats.likes }}</nb-text>
            </nb-button>
            <nb-button transparent>
              <nb-icon name="eye"></nb-icon>
              <nb-text>{{ post.stats.views }}</nb-text>
            </nb-button>
          </nb-left>
          <nb-right>
            <nb-button transparent>
              <nb-icon name="share"></nb-icon>
            </nb-button>
          </nb-right>
        </nb-card-item>
      </nb-card>
    </nb-content>
    <Footer @goto="handlerScreen($event)"></Footer>
  </nb-container>
</template>

<script>
import { Dimensions } from "react-native";
const deviceWidth = Dimensions.get("window").width;
import logo from '../assets/xp.png'
import cardImage from '../assets/img-xp-fundo.jpg'

import Header from '../components/Header'
import Footer from '../components/Footer'

import HandlerMixin from '../mixins/handlers'

export default {
  name: 'Timeline',
  mixins: [HandlerMixin],
  props: {
    navigation: {
      type: Object
    }
  },
  components: { Header, Footer },
  data: function() {
    return {
      logo,
      cardImage,
      stylesObj: {
        cardItemImage: {
          resizeMode: "cover",
          height: 200,
          width: deviceWidth / 1.35
        }
      },
      posts: [
        {
          company: 'XP Inc.',
          date: '31/01/2020 - 8:00',
          logo: logo,
          image: require('../assets/img-xp-fundo.jpg'),
          title: 'Fundo DI: o que são e como funcionam',
          stats: {
            likes: '8K',
            views: '80K'
          }
        },
        {
          company: 'XP Inc.',
          date: '27/01/2020 - 8:00',
          logo: logo,
          image: require('../assets/img-xp-fundo-2.jpg'),
          title: 'Evite estes erros ao investir em 2020',
          stats: {
            likes: '6K',
            views: '70K'
          }
        },
        {
          company: 'XP Inc.',
          date: '24/01/2020 - 8:00',
          logo: logo,
          image: require('../assets/img-xp-fundo-3.jpg'),
          title: 'Quer uma aposentadoria tranquila? Planeje-se',
          stats: {
            likes: '8.9K',
            views: '120K'
          }
        }
      ]
    };
  }
}
</script>

<style>
.content-align {
  padding: 30px 15px 60px 15px;
  z-index: 2;
  position: relative;
}
.title-post {
  font-size: 19px;
  margin-top: 10px;
}
.img-align-2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-content-title {
  padding: 20px 0px;
  color: black;
  text-align: left;
}
.box-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box-subtitle {
  font-size: 16px;
  font-weight: 300;
}
</style>